<ion-header>
  <ion-toolbar>
    <ion-title>Pokemons <img id="pokeballIcon" src="../assets/icon/pokeball.png" /></ion-title>
  </ion-toolbar>
</ion-header>

<div class="content-wrapper">
  <ion-content *ngIf="pokemons.length > 0">
    <div class="pokemon-list">
      <ion-list>
        <ion-item *ngFor="let pokemon of pokemons">
          <ion-thumbnail slot="start">
            <img [src]="getPokeImage(pokemon.url)" [alt]="pokemon.name">
          </ion-thumbnail>
          <ion-label>
            {{ pokemon.name | titlecase }}
          </ion-label>
        </ion-item>
      </ion-list>
      </div>
  </ion-content>

  <div class="side-image">
    <img src="assets/ash.png" alt="Ash Ketchum" />
  </div>

  <ion-content *ngIf="pokemons.length === 0">
    <ion-text color="medium">Aguarde! Carregando...</ion-text>
  </ion-content>
</div>
