ion-toolbar {
  --background: #ef5350;
  --color: #ffffff;
  font-family: 'Pokemon Solid'
}

ion-title {
  font-size: 28px;
  text-align: center;
}

ion-item {
  --background: #fcdddc;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  gap: 12px;
}

ion-content {
  --padding-top: 0;
  padding: 0 !important;
}

ion-thumbnail img {
  border-radius: 60%;
  border: 2px solid #fffebe;
}

ion-label {
  font-size: 18px;
  font-weight: 600;
}

#pokeball-icon {
  width: 2%;
}

.content-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.pokemon-list {
  flex: 1;
}

.side-image {
  margin-top: 10%;
  margin-left: 10px;
}

.side-image img {
  width: 250px;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

ion-list {
  margin-top: 5%;
}

audio {
  display: block;
  margin-bottom: 10px;
}
