<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokemons <img id="pokeball-icon" src="../assets/icon/pokeball.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-flex">
    <div class="pokemon-list">
      <ion-list>
        <ion-item *ngFor="let pokemon of pokemons">
          <img [src]="pokemon.image" alt="{{ pokemon.name }}" style="width: 50px; margin-right: 10px;">
          <ion-label>
            <h2>{{ pokemon.name | titlecase }}</h2>
            <p><strong>Experiência Base:</strong> {{ pokemon.base_experience }}</p>
            <p><strong>Altura:</strong> {{ pokemon.height }}</p>
            <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
            <p><strong>Tipos:</strong> {{ pokemon.types.join(', ') | titlecase }}</p>
            <p><strong>Habilidades:</strong> {{ pokemon.abilities.join(', ') | titlecase }}</p>
            <p><strong>Movimentos:</strong> {{ pokemon.moves.join(', ') | titlecase }}</p>
            <p><strong>Sons:</strong></p>
            <audio controls [src]="pokemon.cry.latest"></audio>
            <audio controls [src]="pokemon.cry.legacy"></audio>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  <div class="side-image">
    <img src="assets/ash.png" alt="Ash Ketchum" />
  </div>

  <ion-content *ngIf="pokemons.length === 0">
    <ion-text color="medium">Aguarde! Carregando...</ion-text>
  </ion-content>
</div>
